{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <ul>
            <tr class="colorblue">
                <th class="contour">Image</th>
                <th class="contour">ID</th>
                <th class="contour">Nom</th>
                <th class="contour">Quête</th>
            </tr>
            <tr>
                <td class="contour"><img src="{{ descriptionmysticcode[0].imagename }}" height=75 width=75></td>
                <td class="contour">{{ descriptionmysticcode[0].id }}</td>
                <td class="contour">{{ descriptionmysticcode[0].name }}</td>
                <td class="contour">{{ descriptionmysticcode[0].quest }}</td>
            </tr>
        </ul>
    </table>

    <table class="table">
        <ul>
            <tr class="colorblue">
                <th class="contour">Nom</th>
                <th class="contour">Cible</th>
                <th class="contour">CD</th>
                <th class="contour">Description</th>
                <th class="contour">Niveau 1</th>
                <th class="contour">Niveau 2</th>
                <th class="contour">Niveau 3</th>
                <th class="contour">Niveau 4</th>
                <th class="contour">Niveau 5</th>
                <th class="contour">Niveau 6</th>
                <th class="contour">Niveau 7</th>
                <th class="contour">Niveau 8</th>
                <th class="contour">Niveau 9</th>
                <th class="contour">Niveau 10</th>
            </tr>
            {% for skill in skill %}
                <tr>
                    <td class="contour">{{ skill.nom }}</td>
                    <td class="contour"><img src="{{ skill.imagename }}" height=65 width=65 ></td>
                    <td class="contour">{{ skill.cd }}</td>
                    <td class="contour">{{ skill.description }}</td>
                    <td class="contour">{{ skill.lvl1 }}</td>
                    <td class="contour">{{ skill.lvl2 }}</td>
                    <td class="contour">{{ skill.lvl3 }}</td>
                    <td class="contour">{{ skill.lvl4 }}</td>
                    <td class="contour">{{ skill.lvl5 }}</td>
                    <td class="contour">{{ skill.lvl6 }}</td>
                    <td class="contour">{{ skill.lvl7 }}</td>
                    <td class="contour">{{ skill.lvl8 }}</td>
                    <td class="contour">{{ skill.lvl9 }}</td>
                    <td class="contour">{{ skill.lvl10 }}</td>
                </tr>
            {% endfor %}

        </ul>
    </table>

{% endblock %}